<header id="home" class="header-area pt-100">
  <div class="shape header-shape-one animation-one">
    <img src="../assets/image/blob-small.png">
  </div>
  <div class="shape header-shape-two animation-one">
    <img src="../assets/image/circle.png">
  </div>
  <div class="shape header-shape-three">
    <img src="../assets/image/accounting_dots.svg">
  </div>
  <div class="shape header-shape-foure">
    <img src="../assets/image/accounting_dots.svg">
  </div>
  <div class="navigation-bar">
  <div class="container">
  <div class="row">
  <div class="col-lg-12 p-0">
  <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
  <img src="../assets/image/logo.png" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="toggler-icon"></span>
  <span class="toggler-icon"></span>
  <span class="toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul id="nav" class="navbar-nav ml-auto">
  <li class="nav-item active">
  <a>Product</a>
  </li>
  <li class="nav-item">
   <a>Solution</a>
  </li>
  <li class="nav-item">
  <a>Pricing</a>
  </li>

  </ul>
  </div>
  <div class="navbar-btn ml-20 d-none d-sm-block">
  <button class="main-btn main-btn-2 mr-2" href="#">Login</button>
  <button class="main-btn" href="#">Get Started</button>
  </div>
  </nav>
  </div>
  </div>
  </div>
  </div>

  <div class="header-banner">
  <div class="container pt-space">
  <div class="row">
  <div class="col-xl-6 col-lg-6 col-sm-12">
  <div class="banner-content">
  <div class="content">We make it Super Simple</div>
    <div class="content-border"></div>
  </div>
<div class="sideImage">
  <img src="../assets/image/collect_img-video.png">
</div>

  </div>


  <div class="col-xl-6 col-lg-6 col-sm-12 d-flex justify-content-md-end">
 <app-eligiblity-calculator></app-eligiblity-calculator>
</div>
</div>
  </div>


  </div>


  </header>
